/* Common */
.content {
    border-radius: 0.5625rem;
    border: 2px solid #192131;
    background: #001125;
    color: white;
    font-family: "Neo Sans W1G", sans-serif;
    font-size: 1.5rem;
    line-height: 130%;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.content::-webkit-scrollbar {
    display: none;
}

.text {
    padding: 0.59rem 0.44rem;
}

.menuBtns {
    font-family: Oxygen, sans-serif;
    font-size: 1.3125rem;
    font-weight: 700;
}

.menu {
    position: absolute;
    max-height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 2.06rem;
    color: #ECF0F3;
    font-size: 1.0625rem;
    overflow: hidden;
    z-index: 1;
}


/* Select */
.selectWrapper {
    position: relative;
    flex-grow: 1;
}

.selectControlWrapper {
    display: flex;
    align-items: center;
}

.optionsList {
    z-index: 3;
    position: absolute;
    width: 100%;
}

.optionWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}