.line {
    position: relative;
}

.line::before {
    content: '';
    position: absolute;
    left: 0;

    width: 0.18rem;
    height: 100%;

    border-radius: 0.1rem;
}


.collapsible {
    row-gap: var(--p-content-l);
}

.common {
    border: var(--b-small) solid var(--b-control-white);

    --px: 0.76rem;
    padding-left: var(--px);
    padding-right: var(--px);
}

.roundedWFull {
    border-radius: var(--br-smallest);
    width: 100%;
}

.ellipsis {
    @media screen and (max-width: 835px) {
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 120%;
    }
}


.leftCol {
    grid-column-start: 1;
    font-size: var(--fz-heading-s);
}

.midCol {
    grid-column-start: 2;
    font-size: var(--fz-section-s);
}


.singleInputBase {
    background-color: var(--bg-control-gray-l0);

    --py: var(--p-content-5xs);
    padding-top: var(--py);
    padding-bottom: var(--py);
}

.singleInput {
    height: min(5.8dvw, 2rem);
    width: 100%;
    border-radius: var(--br-smallest);
    font-size: var(--fz-section-s);
}

.connectBtn {
    height: 23px;
    color: #ECF0F3;
    font-size: var(--fz-section-xs);
    font-weight: 700;
}

.connected {
    background-color: #178ab7;
    font-weight: 700;
}

.connect:hover {
    background-color: #178ab7;
    font-weight: 700;
}

.disconnect:hover {
    background-color: #f42200;
    font-weight: 700;
}

@media screen and (max-width: 835px) and (orientation: landscape) {
    .leftCol {
        font-size: var(--fz-section-s);
    }

    .midCol {
        font-size: var(--fz-section-xs);
    }
}