.fadeIn {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.slideIn {
  transform: translateY(0);
  transition: 0.2s ease-in;
}

.slideOut {
  transform: translateY(-100%);
  transition: 0.2s ease-out;
}

.highlight {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: auto 0;
  margin-left: 5.94rem;
  background-color: #4D4D4D4C;
  border-radius: 0.5625rem;
  padding: var(--py);
  font-size: 2.25rem;
  font-weight: 700;
}

.clickable:hover {
  transform: translateY(0.5px);
  transition: 0.1s ease-in-out;
}

.clickable:active {
  transform: translateY(1.5px);
  transition: 0.1s ease-in-out;
}