/* Content */
.section {
  @apply relative min-w-[100dvw];
}

.fullHeightSection {
  @apply h-fit;
  min-height: min(100dvh, 49.5rem);
}

.fullHeightSection > .content {
  min-height: inherit;
}

.content {
  @apply mx-auto h-full  sm:px-xs px-xl  w-full lg:w-4/5;
  max-width: calc(90rem + 2 * var(--p-xl));
}

/* Shadows */
.sectionShadowBlack {
  @apply -z-[5];
  box-shadow: 0 calc(-1 * var(--section-shadow-shift)) var(--section-shadow-blur-radius) #000000;
}

.sectionInsetShadowBlack {
  box-shadow: inset 0 calc(-1 * var(--section-shadow-shift)) var(--section-shadow-blur-radius) #000000;
}

.contentGradientBlue {
  @apply relative;
}

.contentGradientBlue:before {
  @apply absolute -z-10 top-0 left-0 size-full bg-blue blur-[12.5rem];
  content: "";
}

.contentShadowBlue {
  @apply relative -z-10;
  box-shadow: 0 var(--section-shadow-shift) calc(2 * var(--section-shadow-blur-radius)) var(--bg-blue);
}

.contentHighlight {
  @apply relative;
}

.contentHighlight:after {
  @apply absolute -z-10 top-0 size-full bg-blue blur-[15rem];
  content: "";
}

/* Layout */
.fadeIn {
  @apply opacity-100;
  transition: opacity 0.5s ease-in;
}

.fadeOut {
  @apply opacity-0;
  transition: opacity 0.5s ease-out;
}

.slideIn {
  @apply translate-y-0;
  transition: 0.2s ease-in;
}

.slideOut {
  @apply -translate-y-full h-0;
  transition: 0.2s ease-out;
}

/* Clickable */
.clickable {
  /*cursor: pointer;*/
}

.clickable:hover:not(:disabled) {
  /*transform: translateY(1px);*/
  /*transition: 0.1s ease-in-out;*/
}

.clickable:active:not(:disabled) {
  /*transform: translateY(2px);*/
  /*transition: 0.1s ease-in-out*/
}

/* Not Found Page */
@keyframes typing {
  from {
    @apply w-0;
  }
  to {
    @apply w-full;
  }
}

@keyframes blink-caret {
  from, to {
    @apply border-transparent;
  }
  50% {
    @apply border-white;
  }
}

.typewriter {
  @apply hidden mx-auto border-r-[0.15rem] border-orange-400 whitespace-nowrap tracking-[0.15rem];
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}