@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-main: #000000;
  --bg-control-gray: #4D4D4D;
  --bg-control-gray-l0: #808080;
  --bg-control-white-d1: #D3D3D3;
  --bg-control-white-d0: #D9D9D9;
  --bg-control-white: #f2f2f2;
  --bg-control-red: #F42200;
  --bg-control-blue: #178AB7;

  --bg-section-navy: #001125;

  --b-small: 0.0625rem;

  --b-section: var(--bg-control-gray);
  --b-control-gray: #192131;
  --b-control-gray-l0: var(--bg-control-gray-l0);
  --b-control-gray-l1: #999999;
  --b-control-white-d0: #B3B3B3;
  --b-control-white: var(--bg-control-white);
  --b-control-blue: var(--bg-control-blue);

  --br-smallest-1: 0.25rem;
  --br-smallest: 0.375rem;
  --br-small: 0.55rem;

  --color-primary: #ECF0F3;
  --color-secondary: var(--bg-control-gray-l0);
  --color-gray: var(--bg-control-gray);
  --color-placeholder: var(--b-control-white-d0);
  --color-blue: var(--bg-control-blue);
  --color-blue-l0: #21A1D3;
  --color-red: var(--bg-control-red);

  --fz-note: 0.75rem;
  --fz-small: 0.875rem;
  --fz-content-small: min(3.7dvw, 1.125rem);
  --fz-content: min(4.8dvw, 1.3125rem);
  --fz-header: 1.685rem;

  --p-small: 2rem;

  --insignia-pt-moved: 0.77rem;
  --insignia-pl-moved: 1.83rem;
  --insignia-scale-init: 0.8;
  --insignia-scale-moved: 0.168;
}

body {
  background: var(--bg-main);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;

  -ms-overflow-style: none;
  scrollbar-width: none;
  line-height: normal;
}

h1, h2, h3, h4, h5, h6 {
  line-height: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body ::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Adobe Caslon Pro";
  src: url("/public/fonts/ACaslonPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neo Sans W1G";
  src: url("/public/fonts/NeoSansW1G-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Oxygen';
  src: url('/public/fonts/Oxygen-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Old English Five';
  src: url('/public/fonts/OldEnglishFive.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
