@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Paddings */
  --p-7xl: 10rem;     /* 160px */
  --p-7xl-1: 9.375rem;/* 150px */
  --p-6xl: 7.5rem;    /* 120px */
  --p-6xl-1: 6.25rem; /* 100px */
  --p-5xl: 5rem;      /* 80px */
  --p-4xl: 4.13rem;   /* 66.08px */
  --p-3xl: 3.75rem;   /* 60px */
  --p-xxl: 3.06rem;   /* 48.96px */
  --p-xl: 2.5rem;     /* 40px */
  --p-l: 2.06rem;     /* 32.96px */
  --p-n: 1.88rem;     /* 30.08px */
  --p-s: 1.56rem;     /* 24.96px */
  --p-xs: 1.25rem;    /* 20px */
  --p-xxs: 0.94rem;   /* 15.04px */
  --p-3xs: 0.81rem;   /* 12.96px */
  --p-3xs-1: 0.75rem;   /* 12.96px */
  --p-4xs: 0.62rem;   /* 9.92px */
  --p-4xs-1: 0.5rem;  /* 8px */
  --p-4xs-2: 0.375rem;/* 6px */
  --p-5xs: 0.31rem;   /* 4.96px */
  --p-6xs: 0.19rem;   /* 3.04px */

  /* Heights / Widths */
  --h-button-xxl: 2.88rem;
  --h-button-xl: 2.375rem;
  --h-button-l: 1.875rem;
  --h-button-n: 1.45rem;
  --h-button-s: 1.125rem;
  --h-heading-modal: 4.3rem;
  --h-heading: 4.06rem;
  --h-heading-icon: 1.3125rem;
  --h-sub-heading: 1.67rem;
  --insignia-h: 1.25rem;
  --h-footer-lg: 28.5rem;
  --w-card: 22rem;
  /* Heights / Widths / Size */
  --h-14xl : 10.9375rem; /* 175px */
  --h-13xl : 9.375rem; /* 150px */
  --h-12xl : 7.5rem;   /* 120px */
  --h-11xl : 7.1875rem;/* 115px */
  --h-10xl : 6.25rem;  /* 100px */
  --h-9xl : 4.75rem;   /* 76px */
  --h-8xl : 4.375rem;  /* 70px */
  --h-7xl : 3.4375rem; /* 55px */
  --h-6xl : 3.125rem;  /* 50px */
  --h-5xl : 2.875rem;  /* 46px */
  --h-4xl : 2.75rem;   /* 44px */
  --h-3xl : 2.5rem;    /* 40px */
  --h-xxl : 2.25rem;   /* 36px */
  --h-xl : 2.125rem;   /* 34px */
  --h-l : 2rem;        /* 32px */
  --h-n : 1.8125rem;   /* 29px */
  --h-s : 1.6875rem;   /* 27px */
  --h-xs : 1.5rem;     /* 24px */
  --h-xxs : 1.375rem;  /* 22px */
  --h-3xs : 1.25rem;   /* 20px */
  --h-4xs : 1.125rem;  /* 18px */
  --h-5xs : 1rem;      /* 16px */
  --h-6xs : 0.875rem;  /* 14px */
  --h-7xs : 0.75rem;   /* 12px */
  --h-8xs : 0.5625rem; /* 9px */
  --h-10xs : 0.0625rem;/* 1px */

  /* Borders */
  --b-s: 0.0625rem; /* 1px */
  --b-n: 0.125rem;  /* 2px */

  --br-xxs-1: 0.25rem;
  --br-xs: 0.375rem;
  --br-s: 0.55rem;
  --br-n: 1rem;
  --br-l: 1.55rem;

  --b-black-l0: var(--bg-black-l0);
  --b-gray: var(--bg-gray);
  --b-gray-l0: var(--bg-gray-l0);
  --b-white-d0: var(--bg-white-d2);
  --b-gray-l2: var(--bg-gray-l2);
  --b-gray-l1: var(--bg-gray-l1);
  --b-white: var(--bg-white);
  --b-blue: var(--bg-blue);
  --b-blue-d0: var(--bg-blue-d0);
  --b-red: var(--bg-red);

  /* Backgrounds */
  --bg-main: #000000;
  --bg-black-l0: #111111;
  --bg-gray-l3: #686868;
  --bg-gray-l2: #979797;
  --bg-gray-l1: #999999;
  --bg-gray-l0: #808080;
  --bg-gray: #4d4d4d;
  --bg-gray-d0: #272727;
  --bg-gray-d1: #0b0b0b;
  --bg-gray-d2: #444444;
  --bg-white-l0: #ffffff;
  --bg-white: #f2f2f2;
  --bg-white-d2: #b3b3b3;
  --bg-red: #f42200;
  --bg-blue-l0: #08132d;
  --bg-blue: #178ab7;
  --bg-blue-d0: #192131;
  --bg-navy: #00397f;
  --bg-navy-d0: #001125;
  --bg-green: #0c545c;
  --bg-green-d0: #23af7a;



  /* Text */
  --fz-128: 128px;
  --fz-96 : 6rem;
  --fz-80 : 5rem;
  --fz-64 : 4rem;
  --fz-48 : 3rem;
  --fz-40 : 2.5rem;
  --fz-36 : 2.25rem;
  --fz-32 : 2rem;
  --fz-30 : 1.875rem;
  --fz-27 : 1.6875rem;
  --fz-24 : 1.5rem;
  --fz-21 : 1.3125rem;
  --fz-20 : 1.25rem;
  --fz-18 : 1.125rem;
  --fz-16 : 1rem;
  --fz-14 : 0.875rem;
  --fz-12 : 0.75rem;
  --fz-10 : 0.625rem;
  --fz-8  : 0.5rem;

  --lh-xl: 1.4;
  --lh-l: 1.3;
  --lh-n: 1.2;
  --lh-s: 1.1;

  --color-primary: #ecf0f3;
  --color-secondary: var(--bg-gray-l0);
  --color-gray: var(--bg-gray);
  --color-gray-d2: var(--bg-gray-d2);
  --color-placeholder: var(--b-white-d0);
  --color-blue: var(--bg-blue);
  --color-blue-l0: #21a1d3;
  --color-red: var(--bg-red);

  /* Misc */
  --section-shadow-shift: 10rem;
  --section-shadow-blur-radius: 10rem;
}

body {
  background: var(--bg-main);
  font-family: "Franklin Gothic ATF", sans-serif;
  overflow: hidden;

  -ms-overflow-style: none;
  scrollbar-width: none;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  line-height: 0.75;
}

svg, path, g {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body ::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Franklin Gothic ATF";
  src: url("/assets/fonts/FranklinGothic-font/FranklinGothicATF.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Franklin Gothic ATF";
  src: url("/assets/fonts/FranklinGothic-font/FranklinGothicATF-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Franklin Gothic ATF";
  src: url("/assets/fonts/FranklinGothic-font/FranklinGothicATF-Med.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Franklin Gothic ATF";
  src: url("/assets/fonts/FranklinGothic-font/FranklinGothicATF-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Old English Five';
  src: url('/assets/fonts/OldEnglishFive.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-font/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-font/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-font/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
