.icon {
  font-family: "Neo Sans W1G", sans-serif;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: auto;
  height: auto;
}

.iconSymbol {
  color: #17a8b7; /* Adjust color as needed */
  font-size: 36px;
  transition: opacity 0.3s ease;
}

.iconText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  color: #17a8b7;
  display: flex;
  gap: 0.1em;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.icon:hover .iconSymbol {
  opacity: 0;
}

.letter {
  position: relative;
  width: 50px;
  height: 70px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
}

.letter span {
  position: absolute;
  opacity: 0;
  transition: opacity 0.05s ease-in-out;
  width: 50px;
  height: 70px;
}

.finalLetter {
  opacity: 1 !important;
  transition: none; /* No fading for the final letter */
}






.icon:hover .iconSymbol {
  opacity: 0;
}

.footer {
    font-family: helvetica, arial, sans-serif;
}

.contactOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgba(0, 0, 0, 0.7);  */
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 1000;  */
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.contactContent {
  /* background: white; */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;; 
}

/* Initial state when the insignia is centered */
.insigniaContainer {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) scale(1);
display: flex;
align-items: center;
justify-content: center;
transition: transform 0.5s ease;
z-index: 1000;
pointer-events: auto;
}

.insigniaContainer.move {
transform: translate(calc(43vw - 30%), calc(-47vh + 30%)) scale(0.5);
}

.insigniaContainer.return {
transform: translate(-50%, -50%) scale(1);
}


.contactOverlay.show,
.contactContent.show {
  opacity: 1;
  visibility: visible;
}

.contactOverlay.hide,
.contactContent.hide {
  opacity: 0;
  visibility: hidden;
}

.fadeIn {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.5s ease-out; /* Fade out effect */
}

.footerText {
  transition: opacity 0.5s ease-in-out; /* Fade in/out effect */
}

