/* Content  */
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  justify-content: center;
  align-items: center;
  text-align: center;

  max-height: 100%;
  overflow-y: scroll;

  color: #ECF0F3;
  font-family: "Neo Sans W1G", sans-serif;
  font-size: 1rem;
}

.fadeIn {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
