.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    padding: 2rem 2.06rem 2rem;
    width: 100%;
    color: #ECF0F3;
    font-family: "Neo Sans W1G", sans-serif;
    font-size: 1rem;
}

.linkMinimalistic {
  color: #ECF0F3;
  font-family: Oxygen, sans-serif;
  font-size: 1.3125rem;
}

.contactOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.viewTitle {
  position: fixed;
  left: 2rem;
  top: 2.06rem;
  color: #178AB7;
  font-family: Oxygen, sans-serif;
  font-size: 2.25rem;
}

.contactContent {
  text-align: center;
  color: #ECF0F3;
  font-family: "Neo Sans W1G", sans-serif;
  font-size: 1rem;
}

.documentationLinksContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Oxygen, sans-serif;
  font-size: 1.3125rem;
}

.pointer {
  cursor: pointer;
}

.privacySection {
  width: 105.3125rem;
  height: 44.875rem;
  flex-shrink: 0;
}

.cookieSection {
  width: 105.3125rem;
  height: 43.5rem;
  flex-shrink: 0;
}

.termSection {
  width: 103.5625rem;
  height: 61.4375rem;
  flex-shrink: 0;
}

.credoSection {
  text-align: center;
  justify-content: center;
}

@keyframes insignia-move {
  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    top: 0;
    left: 100%;
    transform: translate(calc(-55% - 2.06rem), calc(-46% + 2.06rem)) scale(0.2);
  }
}

@keyframes insignia-return {
  0% {
    top: 0;
    left: 100%;
    transform: translate(calc(-55% - 2.06rem), calc(-46% + 2.06rem)) scale(0.2);
  }
  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.insigniaContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  width: 300px; /* 240px after the scale() */
  height: 300px;
  pointer-events: auto;
  background: transparent;
}

.insigniaContainer.move {
  animation: insignia-move 0.5s ease-in-out forwards;
}

.insigniaContainer.return {
  animation: insignia-return 0.5s ease-in-out forwards;
}

.pointer {
  cursor: pointer;
}

.contactOverlay.show,
.contactContent.show {
  opacity: 1;
  visibility: visible;
}

.contactOverlay.hide,
.contactContent.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.fadeIn {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
